<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="8581cc3155454081b052de5a12adf647" class="chart-container" style="width:2500px; height:1300px; "></div>
    <script>
        var chart_8581cc3155454081b052de5a12adf647 = echarts.init(
            document.getElementById('8581cc3155454081b052de5a12adf647'), 'light', {renderer: 'canvas'});
        var option_8581cc3155454081b052de5a12adf647 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "line",
            "name": "\u5b9d\u5b89\u533a \u623f\u4ef7\u9884\u6d4b",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1999",
                    3074
                ],
                [
                    "2000",
                    3025
                ],
                [
                    "2001",
                    2851
                ],
                [
                    "2002",
                    3805
                ],
                [
                    "2003",
                    3640
                ],
                [
                    "2004",
                    4787
                ],
                [
                    "2005",
                    5353
                ],
                [
                    "2006",
                    8297
                ],
                [
                    "2007",
                    12212
                ],
                [
                    "2008",
                    11652
                ],
                [
                    "2009",
                    13726
                ],
                [
                    "2010",
                    19944
                ],
                [
                    "2011",
                    17805
                ],
                [
                    "2012",
                    18028
                ],
                [
                    "2013",
                    20947
                ],
                [
                    "2014",
                    23747
                ],
                [
                    "2015",
                    35841
                ],
                [
                    "2016",
                    58745
                ],
                [
                    "2017",
                    56960
                ],
                [
                    "2018",
                    54052
                ],
                [
                    "2019",
                    54605
                ],
                [
                    "2020",
                    62642
                ],
                [
                    "2021",
                    65478
                ],
                [
                    "2022",
                    68315
                ],
                [
                    "2023",
                    71151
                ],
                [
                    "2024",
                    73988
                ],
                [
                    "2025",
                    76824
                ],
                [
                    "2026",
                    79661
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8,
                "valueAnimation": false
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "red"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b9d\u5b89\u533a \u623f\u4ef7\u9884\u6d4b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "name": "\u5e74\u4efd",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 45,
                "margin": 8,
                "valueAnimation": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "data": [
                "1999",
                "2000",
                "2001",
                "2002",
                "2003",
                "2004",
                "2005",
                "2006",
                "2007",
                "2008",
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022",
                "2023",
                "2024",
                "2025",
                "2026"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u5355\u4ef7(\u5143/\u33a1)",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u5b9d\u5b89\u533a \u623f\u4ef7\u9884\u6d4b",
            "target": "blank",
            "subtext": "\u5386\u53f2\u623f\u4ef7\u4e0e\u672a\u67655\u5e74\u9884\u6d4b",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_8581cc3155454081b052de5a12adf647.setOption(option_8581cc3155454081b052de5a12adf647);
    </script>
</body>
</html>
